.App {
  display: block;
  position: relative;
  font-size: x-large;
}

.choice-button {
  position: absolute;
}

.choice-button * {
  aspect-ratio: 1/1;
  min-width: 40px;
  width: min-content;
  border-radius: 50%;
  padding: 1ch;
  opacity: 0.8;
  color: white;
  font-size: 0.4em;
  border: none;
  cursor: pointer;
}

.choice-button:nth-of-type(1) * {
  background-color: #A52216;
  color: white;
}

.choice-button:nth-of-type(2) * {
  background-color: white;
  color: #A52216;
}

.choice-button:nth-of-type(3) * {
  background-color: #F2E395;
  color: #BE5A44;
}

.slide {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;

  animation: fade-in 0.5s;

  background: white;
}

.left-caret {
  display: block;
  pointer-events: all;
  cursor: pointer;
}

@keyframes fade-in {
  0%  {opacity: 0;}
  100%{opacity: 1;}
}