@font-face {
  font-family: 'futura';
  src: url(futura.ttf) format("truetype");
}

* {
  font-family: 'futura';
}

body {
  margin: 0;
  font-family: 'futura';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
